
/***********foooter***************/

.footer {
    align-items: center;
    background: var(--gris);
    display: flex;
    flex-direction: column;
    height: 7rem;
    justify-content: center;
    padding: 0% 10%;
    text-align: center;
    width: 100%;
}


.footer_p {
    color: var(--blanco); 
    font-size: 1rem;
}
@media (min-width:970px) {
    .footer_p {
        font-size: 1.25rem;
    }
}

