

/********************************main content*********************************/

.container {
    display: grid;
    grid-template-columns: 1fr;
    height: calc( auto + 2% );
    justify-items: center;
    margin:4% 4%;
    width: auto;
}

@media (min-width:1024px) {
    
    .container {
        grid-gap: 2%;
        grid-template-columns: 20% auto;
    }
}

/************************************************************************************/
.aside {
   
    display: none;
   
}

@media (  min-width:1024px) {
    
    .aside {
        background:var(--blanco);
        border-radius: 5px;
        display: block;
        height: 400px;
        padding: .5rem 1rem;
        position: sticky;
        text-align: start;
        top: 10%;
        z-index: 0;
    }
}


.aside_title {
    color: var(--azul);
    font-size: 1.75rem;
    font-weight: 900;
    margin: .5rem 0rem 1rem 0rem;
    text-decoration: none;
}

.aside_item {
    background-color: var(--blanco);
    border-bottom: solid 2px var(--fondo);
    padding: 5% 0;

}

.aside_a {
    color: var(--azul);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}


/*******************************************************************/
.main {
    background:var(--blanco);
    border-radius: 5px;
    padding: .5rem 1rem;
}

@media (min-width:1024px) {
    
    .main {
        padding: .5rem 4rem;
    }
}